*{
  background-color: rgb(193, 130, 193);
}

input{

    margin-left: 200px;
    margin-top: 80px;
    /* color:  white; */
}

li{
    /* color: white; */
    font-size: 30px;
}

button{
    height: 30px;
    width: 200px;
    background-color: orange;
    border-radius: 10px ;
}
input{
    height: 30px;
    width: 200px;
    background-color: orange;
    border-radius: 10px ;
    font-size: larger;

}
