*{
    text-align: center;
}

*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a{
    text-transform: uppercase;
    text-decoration: teal double underline;
    
}

button{
    color: blueviolet;
}

p{
    text-decoration: none;
    line-height: 30px;
}